.squares-wrapper .squares .first-column-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
}

.squares-wrapper .squares .second-column-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-right: 200px;
}
img{
    transition: all .2s ease-in-out;
}

img:hover{
    transform: scale(1.1);
}

.squares-wrapper .squares .square .img-cheese-pizza img {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border: 4px solid #008c45;
}

.img-cheese-pizza {
    width: 350px;
    height: 200px;
    margin-left: -100px;
}

.squares-wrapper .squares .square .img-pepperoni-pizza img {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border: 4px solid #008c45;
}

.img-pepperoni-pizza {
    width: 350px;
    height: 200px;
    margin-left: -100px;
}

.squares-wrapper .squares .square .img-sausage-pizza img {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border: 4px solid #008c45;
}

.img-sausage-pizza {
    width: 350px;
    height: 200px;
    margin-left: -100px;
}

.squares-wrapper .squares .square .img-hawaiian-pizza img {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border: 4px solid #008c45;
}

.img-hawaiian-pizza {
    width: 350px;
    height: 200px;
    margin-left: -2px;
}

.squares-wrapper .squares .square .img-supreme-pizza img {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border: 4px solid #008c45;
}

.img-supreme-pizza {
    width: 350px;
    height: 200px;
    margin-left: -100px;
}

.squares-wrapper .squares .square .img-unmade-pizza img {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border: 4px solid #008c45;
}

.img-unmade-pizza {
    width: 350px;
    height: 200px;
    margin-left: -100px;
}

.squares-wrapper .squares .square .cheese-pizza-text {
    font-size: 25px;
    margin-left: 30px;
}

.squares-wrapper .squares .square .pepperoni-pizza-text {
    font-size: 25px;
    margin-left: 20px;
}

.squares-wrapper .squares .square .sausage-pizza-text {
    font-size: 25px;
    margin-left: 30px;
}

.squares-wrapper .squares .square .hawaiian-pizza-text {
    font-size: 25px;
    margin-left: 120px;
}

.squares-wrapper .squares .square .supreme-pizza-text {
    font-size: 25px;
    margin-left: 13px;
}

.squares-wrapper .squares .square .unmade-pizza-text {
    font-size: 25px;
    margin-left: 2px;
}

.process-order-button button {
    font-size: 20px;
    position: absolute;
    right: 60px;
    margin-top: 40px;
    border-radius: 5px;
}