.slide-show-container{
  width:100%;
  position: relative;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.slide{
    margin-top:2vw;
    display:none;
    height:500px;
    width:1000px;
    border:4px solid black;
    border-radius: 25px;
    margin-bottom:4%;
}

.slide img{
    width:100%;
    height:100%;
    border-radius: 20px;
}



.button-wrapper .order-now-bt{
    height:60px;
    width:200px;
    background-color:#ffff00;
    border-radius:25px;
    transition: all .2s ease-in-out;
}

.button-wrapper .order-now-bt:hover{
    height:80px;
    width:300px;
    box-shadow: 5px 5px grey;
}

.button-wrapper .order-now-bt a{
    text-decoration: none;
    font-size:25px;
}